.splashpage-container {
/* /* display: flex; */
flex-direction: column;
height: 100%;
width: 100%;
align-items: center;
}

.splashpage-text-container {
/* justify-content: center; */
/* align-items: center; */
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.buttery-welcome {
height: 10vw;
font-size: 3rem;
width: 100%;
text-align: center;
min-height: 150px;
background-color: #DE9E44;
color: white;
padding-top: 3%;
}

.splash-description-1, .splash-description-2, .splash-description-3 {
    height: 8vw;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    /* min-height: 180px; @media */
}
