body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color: #4B0908;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul, ol
{
list-style: none;
}

body, html {
    background-color: #eef6f8;
    font-family: 'Nunito', sans-serif;
}

#root {
height: 100%;
width: 100%;
}

a:hover {
    cursor: default
}

/*
PLUS
<i class="fas fa-plus"></i>

DRY/BAKING
<i class="fas fa-cookie"></i>

PRODUCE
<i class="fas fa-apple-alt"></i>

BREAD
<i class="fas fa-bread-slice"></i>

DAIRY
<i class="fas fa-cheese"></i>

MEAT
<i class="fas fa-bacon"></i>

FROZEN
<i class="far fa-snowflake"></i>

SPICE
<i class="fas fa-mortar-pestle"></i>

BEVERAGE
<i class="fas fa-wine-glass-alt"></i>

NEW RECIPE
<i class="fas fa-file-alt"></i>

USER
<i class="fas fa-user"></i>
<i class="fas fa-user-circle"></i>


*/
