.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.login-form-container, .fun-login-image {
    max-width: 49%;
    width: 100%;
    height: 100%;
    min-height: 99%;
}

.login-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    margin-bottom: 25%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 500px;
    min-width: 400px;
    max-width: 400px;
    box-shadow: 0px 2px 2px 0px rgba(17, 83, 61, 0.1),
                0px 4px 4px 0px rgba(17, 83, 61, 0.1),
                0px 8px 8px 0px rgba(17, 83, 61, 0.1),
                0px 12px 12px 0px rgba(17, 83, 61, 0.1);
    border-radius: 50px;
}

.fun-login-image {
    display: flex;
    justify-content: center;;
    height: calc(100vh - 75px);
    border-left: 1px solid gray;
}

.welcome {
    color: black;
    font-size: 2rem;
    width: 250px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15%;
}

.please-login-container, .welcome-container, .email-container, .password-container {
    width: 100%;
}

 .welcome-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.please-login {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0, .2);
}

.email-container, .password-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 5%;
}

.loginform label {
    font-size: 10px;
    color: rgba(102, 101, 101, 0.829);
    font-weight: 500;
}

.email, .password {
    border-bottom: 1px solid rgba(0,0,0, .2);
    margin-top: 8px;
    font-size: 1rem;
    transition: border-bottom 300ms ease-in-out,
                color 200ms ease-in-out;
}

.email:focus, .password:focus {
    color: #b7a731;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out,
                transform 150ms ease-in-out,
                color 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
    height: 40px;
    width: calc(100% - 35%);
    border-radius: 25px;
    margin-top: 20px;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.login-button:hover {
    background-color: #1dd4a0;
    cursor: pointer;
    transform: translate(0px, -2px);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 139, 96, 0.18),
                0px 6px 6px 0px rgba(10, 139, 96, 0.18),
                0px 8px 4px 0px rgba(10, 139, 96, 0.18);
}

.login-button:active {
    transform: translate(2px, 1px)
}

.sign-up-redirect {
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
}

.sign-up-redirect a {
    color: rgb(25, 137, 202);
}

.sign-up-redirect a:hover {
    cursor: pointer;
}

.errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.errors div {
    min-height: 20px;
    color: rgb(196, 31, 31);
    margin-bottom: 5px;
}

.demo-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out,
                transform 150ms ease-in-out,
                color 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
    height: 40px;
    width: calc(100% - 35%);
    border-radius: 25px;
    margin-top: 20px;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.demo-login-button:hover {
    background-color: #1dd4a0;
    cursor: pointer;
    transform: translate(0px, -2px);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 139, 96, 0.18),
                0px 6px 6px 0px rgba(10, 139, 96, 0.18),
                0px 8px 4px 0px rgba(10, 139, 96, 0.18);
}

.demo-login-button:active {
    transform: translate(2px, 1px)
}

.error-shake {
    width: 100%;
}
