.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.login-form-container, .fun-login-image {
    max-width: 49%;
    width: 100%;
    height: 100%;
    min-height: 99%;
}

.login-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    margin-bottom: 25%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 500px;
    min-width: 400px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 5%;
}

.fun-login-image {
    display: flex;
    justify-content: center;;
    height: calc(100vh - 75px);
    border-left: 1px solid gray;
}

.welcome {
    color: black;
    font-size: 2rem;
    width: 250px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15%;
}

.please-login-container, .welcome-container, .email-container, .password-container {
    width: 100%;
}

 .welcome-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.please-login {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0, .2);
}

.email-container, .password-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 5%;
}

.loginform label {
    font-size: 10px;
    color: rgba(102, 101, 101, 0.829);
    font-weight: 500;
}

.email, .password {
    border-bottom: 1px solid rgba(0,0,0, .2);
    margin-top: 8px;
    font-size: 1rem;
    transition: border-bottom 300ms ease-in-out,
                color 200ms ease-in-out;
}

.email:focus, .password:focus {
    color: #b7a731;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.login-button {
    background-color: #23bf93;
    color: rgb(0,0,0,0.7);
    font-size: 18px;
    height: 35px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid black;
    transition: background-color 250ms ease-in-out;
    margin-top: 20px;
}

.login-button:hover {
    background-color:  #eb7a10ce;
    cursor: pointer;
}

.login-button:active {
    transform: translate(2px, 1px)
}

.sign-up-redirect {
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
}

.sign-up-redirect a {
    color: rgb(25, 137, 202);
}

.sign-up-redirect a:hover {
    cursor: pointer;
}

.errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.errors div {
    min-height: 20px;
    color: rgb(196, 31, 31);
    margin-bottom: 5px;
}

.demo-login-button {
    background-color: #23bf93;
    color: rgb(0,0,0,0.7);
    font-size: 18px;
    height: 35px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid black;
    transition: background-color 250ms ease-in-out;
    margin-top: 20px;
}

.demo-login-button:hover {
    background-color:  #eb7a10ce;
    cursor: pointer;
}

.demo-login-button:active {
    transform: translate(2px, 1px)
}
