.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

.sign-up-form-container, .fun-login-image-sign-up {
    max-width: 49%;
    width: 100%;
    height: 100%;
    min-height: 99%;
}

.sign-up-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form form {
    width: 100%;
    margin-bottom: 10%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 500px;
    min-width: 400px;
    max-width: 400px;
    /* max-height: 650px; */
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 5%;
    position: relative;
}

.sign-up-welcome-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-welcome {
    font-size: 2rem;
    width: 250px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15%;
}

.signing-up-easy {
    font-size: 1.5rem;
    /* border-bottom: 1px solid rgba(0,0,0, .2); */
    margin-bottom: 50px;
}

.first-name-container, .last-name-container, .email-container, .password-container, .confirm-password-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 5%;
}

.sign-up-form label {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.637);
}

.last-name, .first-name, .email, .password, .confirm-password {
    border-bottom: 1px solid rgba(0,0,0, .2);
    margin-top: 8px;
    font-size: 1rem;
    transition: border-bottom 300ms ease-in-out,
                color 200ms ease-in-out;
}

.last-name:focus, .first-name:focus, .email:focus, .password:focus, .confirm-password:focus {
    color: #b7a731;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.sign-up-button {
    background-color: #23bf93;
    height: 35px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid black;
    transition: background-color 250ms ease-in-out;
}

.sign-up-button:hover {
    background-color:  #eb7a10ce;
    cursor: pointer;
}

.login-redirect {
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
}

.login-redirect a {
    color: rgb(25, 137, 202);
}

.login-redirect a:hover {
    cursor: pointer;
}

.fun-login-image-sign-up {
    display: flex;
    justify-content: center;;
    height: calc(100vh - 75px);
    border-right: 1px solid gray;
}

.fun-login-image-sign-up img {
    object-fit: contain;
}

.pass-error {
    min-height: 20px;
    color: rgb(196, 31, 31);
    position: absolute;
top: 28%;
}
