.pantry-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 75px)
}

.pantry-form-container > .pantry-form-holder {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    background-color: white;
    border-radius: 50px;
    min-height: 500px;
    min-width: 750px;
    margin-top: 3%;
    margin-bottom: 3%;

}

.pantry-form-container > .pantry-form-holder > .pantry-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.pantry-form-container > .pantry-form-holder > .pantry-form  > .pantry-form-header {
    font-size: 3rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.pantry-form-container > .pantry-form-holder > .pantry-form > .add-new-pantry-ingredient-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5%;

}
.pantry-form-container > .pantry-form-holder > .pantry-form > .add-new-pantry-ingredient-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out,
                transform 150ms ease-in-out,
                color 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 3%;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.pantry-form-container > .pantry-form-holder > .pantry-form > .add-new-pantry-ingredient-button button:hover {
    background-color: #1dd4a0;
    cursor: pointer;
    transform: translate(0px, -2px);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 139, 96, 0.18),
                0px 6px 6px 0px rgba(10, 139, 96, 0.18),
                0px 8px 4px 0px rgba(10, 139, 96, 0.18);
}

.pantry-form-container > .pantry-form-holder > .pantry-form > .add-new-pantry-ingredient-button button:active {
    transform: translate(2px, 1px);
}


.pantry-form-container > .pantry-form-holder > .pantry-form > .pantry-submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}
.pantry-form-container > .pantry-form-holder > .pantry-form > .pantry-submit-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out,
                transform 150ms ease-in-out,
                color 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}
.pantry-form-container > .pantry-form-holder > .pantry-form > .pantry-submit-button button:hover {
    background-color: #1dd4a0;
    cursor: pointer;
    transform: translate(0px, -2px);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 139, 96, 0.18),
                0px 6px 6px 0px rgba(10, 139, 96, 0.18),
                0px 8px 4px 0px rgba(10, 139, 96, 0.18);
}

.pantry-form-container > .pantry-form-holder > .pantry-form > .pantry-submit-button button:active {
    transform: translate(2px, 1px)
}
