.home-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-recipecard-container,
.home-pantry-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes, .pantry {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.recipes-header-and-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.recipes-header {
    font-size: 2rem;
    /* border-bottom: 1px solid gray; */
    /* text-align: center; */
    /* width: 80%; */
    /* align-self: center; */
    margin: 20px 0px 20px 0px;
    color: black;
}

.recipecard-main-containers {
    display: flex;
    min-width: 50%;
    /* max-width: 50%; */
    /* border: 1px solid transparent; */
    padding: 5px;
    border-radius: 5px;
    min-width: 400px;
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(15, 64, 37, 0.2),
                0px 4px 8px 0px rgba(15, 64, 37, 0.2);

    transition: background-color 300ms ease-in-out,
                border 300ms ease-in-out;
    align-items: center;
}

.recipecard-main-containers:hover {
    /* background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3); */
    /* cursor: pointer; */
}

.recipecard-main-containers a:hover {
    cursor: pointer;
}

.home-recipe-title {
    width: 100%;
    margin-left: 5%;
}

.home-recipe-title > a {
    display: inline-block;
    width: 100%;
}

.home-main-container .recipes .home-recipecard-container > .recipe-card > span > .recipecard-main-containers > .want-to-make-button button, .home-main-container .recipes .home-recipecard-container > .recipe-card > span > .recipecard-main-containers > .remove-from-shop-button button {
    margin: 0;
    border: none;
}

.pantry {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.pantry-header {
    font-size: 2rem;
    /* border-bottom: 1px solid gray; */
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
    color: black;
}

.home-pantry-container {
    width: 100%;
}

.pantry-category-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 24%;
    max-width: 23%;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
}

.pantry-category-header {
    font-size: 2rem; /*fa icons*/
    border-bottom: 1px solid gray;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
    color: black;
}

.pantry-ingredients-container {
    /* display: flex; */
    flex-wrap: wrap;
    /* width: 85%; */
    /* justify-content: center; */
    align-items: center;
}

.pantry-ingredient-container {
    display: flex;
    font-size: 8px;
    max-width: 49%;
    min-width: 48%;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.shopping-list-container-background {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 0px 0px 10px 1px rgba(62, 64, 15, .2);
    border-radius: 50px;
    margin-top: 2%;
    margin-right: 200px;
    min-height: calc(100vh - 100px);
    border: 1px solid rgba(129, 127, 127, 0.2);
}

.shopping-list-header-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.shopping-list-header {
    font-size: 2rem;
    /* border-bottom: 1px solid gray; */
    /* text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px; */
    color: black;
}

.shopping-for {
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(165, 148, 148, 0.3)
}

.shopping-list-items-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin-bottom: 20px; */
    /* margin-left: 20%; */
}

.shopping-list-item {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 50%;
    /* text-align: center; */
    margin: 3px 0;
}

.shopping-list-individual-items {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.circle-yes {
    color: rgb(0, 253, 127);
    position: absolute;
    top: 20%;
    left: -6.5%;
    border: 1px solid green;
    border-radius: 100%;
}

.circle {
    color: transparent;
    position: absolute;
    top: 20%;
    left: -6.5%;
    border: 1px solid rgb(102, 96, 96, 0.2);
    border-radius: 100%;
    z-index: 1;
}

.shop-button {
    /* position: relative; */
    left: 10%;
    bottom: 15%;
    /* bottom: 35%; */
    /* width: 25px; */
    /* height:20px; */
    /* border: 1px solid black; */
    font-size: 1.2rem;
    background-color: white;
    transition: color 300ms ease-in-out;
    color: black;
}


.shop-button:hover {
    color: #23bf93;
    cursor: pointer;
    /* background-color:  rgba(0, 0, 0, 0.1); */
}

.shop-button-add {
    /* background-color: orange; */
}

.shop-button-remove {
    bottom: 6%;
}

.not-shopping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.sentence-1 {
    margin-bottom: 3%
}

.sentence-2 > a {
    color: rgb(31, 123, 197);
    font-weight: bold;
}

.sentence-2 > a:hover {
    cursor: pointer;
}

.recipe-card {
    display: flex;
    min-width: 50%;
    max-width: 50%;
    border: 1px solid transparent;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    transition: background-color 300ms ease-in-out,
                border 300ms ease-in-out;
}

#root  .MuiSnackbar-root > .MuiPaper-root {
    background-color: #23bf93;
    border: 1px solid #238d6f
}

.MuiPaper-root > .MuiAlert-message, .MuiPaper-root > .MuiAlert-icon, .MuiPaper-root > .MuiAlert-action {
    color: white;
}

.shopped-for-ingredients {
    /* margin-left: 25%; */
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
}

.shopped-for-ingredients:hover {
    background-color:#23bf93;
    cursor: pointer;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
    0px 3px 3px 0px rgba(10, 139, 96, 0.16),
    0px 4px 4px 0px rgba(10, 139, 96, 0.16),
    0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.shopped-for-ingredients:active {
    transform: translate(2px, 1px);
    border: 1px solid rgba(133, 132, 132, 0.404)
}

.home-main-container > .recipes .home-recipecard-container > .recipe-card > span .recipecard-main-containers > .want-to-make-button > .disabled {
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
    opacity: .3;
    border: none;
}

.home-main-container > .recipes .home-recipecard-container > .recipe-card > span .recipecard-main-containers > .want-to-make-button > .disabled:hover {
    background-color: white;
    color: #23bf93;
    cursor: default;
}

.home-main-container > .recipes .home-recipecard-container > .recipe-card > span .recipecard-main-containers > .want-to-make-button > .disabled:active {
    transform: none;
}

/* .close-to-make {
    background-color: yellow;
}

.can-make {
    background-color: green;
}

.not-close {
    background-color: red; */
    /* border: 1px solid black; */
    /* top: 0;
    right: 0; */
    /* transform: scale(1) translate(50%, -50%); */
    /* transform-origin: 100% 0%; */
    /* border-radius: 100%; */
/* } */
