.home-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-recipecard-container,
.home-pantry-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes, .pantry {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.recipes-header {
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
}

.recipecard-main-containers {
    min-width: 80%;
    max-width: 50%;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.home-recipe-title {
    width: 100%;

}

.home-recipe-title > a {
    display: inline-block;
    width: 100%;
}

/* .pantry {

} */

.pantry-header {
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
}

/* .home-pantry-container {} */

.pantry-category-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 49%;
    max-width: 48%;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
}

.pantry-category-header {
    font-size: 1.2rem; /* add font awesome icons?*/
    border-bottom: 1px solid gray;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
}

.pantry-ingredients-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.pantry-ingredient-container {
    display: flex;
    font-size: 8px;
    max-width: 49%;
    min-width: 48%;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.shopping-list-header {
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 80%;
    align-self: center;
    margin: 20px 0px 20px 0px;
}

.shopping-list-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.shopping-list-item {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    margin: 3px 0;
}

.circle-yes {
    color: rgb(0, 253, 127);
    position: absolute;
    top: -10%;
    right: -1%;
    border: 1px solid green;
    border-radius: 100%;
}

.circle- {
    color: rgb(106, 116, 111);
    position: absolute;
    top: -10%;
    right: -1%;
    border: 1px solid rgb(102, 96, 96);
    border-radius: 100%;
}

.shop-button {
    position: absolute;
    left: 103%;
    bottom: 20%;
    width: 25px;
    height:20px;
    /* border: 1px solid black; */
    font-size: 1.2rem;
}

.shop-button-add {
    /* background-color: orange; */
}

.shop-button-remove {
    /* background-color: red; */
}

.add-recipe-button {
    position: absolute;
    top: 5%;
    right: 40%;
    font-size: 1.5rem;
    height: 20px
}
