.recipe-page-recipecard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.recipe-page-recipecard-container > .recipe-card {
    display: flex;
    min-width: 25%;
    max-width: 48%;
    justify-content: center;
    min-height: 300px;
}


.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 45;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 2px 0px  rgba(17, 83, 61, 0.12),
                0px 4px 4px 0px  rgba(17, 83, 61, 0.08),
                0px 8px 8px 0px  rgba(17, 83, 61, 0.06),
                0px 16px 16px 0px  rgba(10, 139, 96, 0.04);
    padding: 4px;
    margin: 2%;
    border-radius: 8px;
    width: 100%;
    min-height: 150px;
    transition: box-shadow 300ms ease-in-out,
                transform 200ms ease-in-out,
                border 200ms ease-in-out;
    width: 100%;
}

.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers:hover {
    box-shadow: 0px 8px 8px 0px rgba(17, 83, 61, 0.2),
                0px 12px 12px 0px rgba(17, 83, 61, 0.12),
                0px 14px 14px 0px rgba(17, 83, 61, 0.08);
    transform: translate(0px, -6px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
}

.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100%;
    margin-bottom: 20px;
}


.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers > a > span > .home-recipe-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(10, 139, 96, 0.16);
    margin-bottom: 8px;
    color: black;
    font-size: 32px;
    margin-right: 5%;
}

.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers > a > span {
    margin-top: 3%;
}

.recipe-page-recipecard-container > .recipe-card > .recipecard-main-containers > a >  .home-recipe-content {
    height: 80%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 0 3%;
    margin-top: 2%;
}

.add-recipe-container {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.add-recipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out,
                transform 150ms ease-in-out,
                color 150ms ease-in-out,
                box-shadow 150ms ease-in-out;
    height: 45px;
    width: 300px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: black;
    border: 1px solid gray;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
                0px 3px 3px 0px rgba(10, 139, 96, 0.16),
                0px 4px 4px 0px rgba(10, 139, 96, 0.16),
                0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

/* .add-recipe-container:hover {
    color: white;
    cursor: pointer;
} */

.add-recipe-button:hover {
    background-color: #1dd4a0;
    cursor: pointer;
    transform: translate(0px, -2px);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(10, 139, 96, 0.18),
                0px 6px 6px 0px rgba(10, 139, 96, 0.18),
                0px 8px 4px 0px rgba(10, 139, 96, 0.18);
}

.add-recipe-button:active {
    transform: translate(2px, 1px);
}

.plus-button {
    color: rgb(0,0,0,0.8);
    margin-right: 10px;
    margin-top: 5px;
}

.remove-from-shop-button button {
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#F39C9F;
    color: #F39C9F;
    font-size: 14px;
    margin: 20px 20px;
}

.remove-from-shop-button button:hover {
    background-color: #F39C9F;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(165, 72, 72, 0.16),
    0px 3px 3px 0px rgba(165, 72, 72, 0.16),
    0px 4px 4px 0px rgba(165, 72, 72, 0.16),
    0px 6px 6px 0px rgba(165, 72, 72, 0.16);
    color: white;
}
.hovering > .remove-from-shop-button button {
    font-size: 15px;
    color: #F39C9F;
}

.want-to-make-button button, .made-button button  {
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
    margin: 20px 20px;
}

.want-to-make-button button:hover, .made-button button:hover {
    background-color:#23bf93;
    cursor: pointer;
    color: white;
}


.hovering > .want-to-make-button button, .hovering > .made-button button{
    font-size: 15px;
    color: #23af87;
}

.hovering > .want-to-make-button button:hover, .hovering > .made-button button:hover {
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
    0px 3px 3px 0px rgba(10, 139, 96, 0.16),
    0px 4px 4px 0px rgba(10, 139, 96, 0.16),
    0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.hovering > .remove-from-shop-button button:hover {
    background-color: #F39C9F;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(165, 72, 72, 0.16),
    0px 3px 3px 0px rgba(165, 72, 72, 0.16),
    0px 4px 4px 0px rgba(165, 72, 72, 0.16),
    0px 6px 6px 0px rgba(165, 72, 72, 0.16);
    color: white;
}

.want-to-make-button button:active, .made-button button:active, .remove-from-shop-button button:active {
    transform: translate(2px, 1px);
    border: 1px solid rgba(133, 132, 132, 0.404)
}

.hovering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

.made-button button:active {
    transform: translate(2px, 1px);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.fa-plus {
    margin-right: 2%;
}

#root > .MuiSnackbar-root > .MuiPaper-root {
    background-color: #23bf93;
    border: 1px solid #238d6f
}

.MuiPaper-root > .MuiAlert-message, .MuiPaper-root > .MuiAlert-icon, .MuiPaper-root > .MuiAlert-action {
    color: white;
}

.disabled button{
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
    margin: 20px 20px;
    opacity: .3;
}

/* .disabled button:hover {
    cursor: not-allowed;
} */

/* .recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .quantity{}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .measurement-name {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .ingredient-name {} */
/* .recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container > .step-number {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container > .step-content {} */
