.recipe-page-recipecard-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 3%;
}

.recipe-page-recipecard-container > .recipecard-main-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    max-width: 45%;
    /* border: 1px solid black; */
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    margin-right: 13px;
    min-height: 120px;
}
.recipe-page-recipecard-container > .recipecard-main-containers > span > .home-recipe-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 8px;
    color: black;
    font-size: 32px;
}

.recipe-page-recipecard-container > .recipecard-main-containers >  .home-recipe-content {
    height: 80%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.add-recipe-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-recipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* top: 6%; */
    /* right: 38%; */
    font-size: 1.2em;
    /* height: 20px; */
    background-color: #23bf93;
    transition: background-color 150ms ease-in-out;
    height: 45px;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: black;
    border: 1px solid gray;
}

/* .add-recipe-container:hover {
    color: white;
    cursor: pointer;
} */

.add-recipe-button:hover {
    background-color: #eb7a10ce;
    cursor: pointer;
}

.add-recipe-button:active {
    transform: translate(2px, 1px);
}

.plus-button {
    color: rgb(0,0,0,0.8);
    margin-right: 10px;
    margin-top: 5px;
}





/* .recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .quantity{}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .measurement-name {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-ingredients-container > .home-ingredient-container > .ingredient-name {} */
/* .recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container > .step-number {}
.recipe-page-recipecard-container > .recipecard-main-containers > .home-steps-container > .home-step > .steps-container > .step-content {} */
