.recipe-page-container {
    display: flex;
    flex-direction: column;
    margin: 3%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.edit-recipe-button-container {
    align-self: flex-end;
}

.edit-recipe-button {
    width: 100px;
    height: 30px;
    /* align-self: flex-end; */
    font-size: 1em;
    background-color: white;
    border-radius: 50px;
    transition: background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.edit-recipe-button:hover {
    background-color: #3E400F;
    color: white;
    cursor: pointer;
}

.recipe-page-container span  > .home-recipe-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.recipe-page-container > .home-recipe-content {
    /* margin-bottom: 30px; */
    text-align: center;
    max-width: 80%;
    margin-bottom: 2%;
}

.recipe-page-container > .home-ingredients-container {
    width: 80%;
    margin: 80px 0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 50px;
}

.recipe-page-container > .home-ingredients-container > .recipe-ingredients-header {
    font-size: 2em;
    margin-bottom: 25px;
    margin-left: 45px;
    margin-top: 20px;
}

.recipe-page-container > .home-steps-container > .recipe-steps-header {
    font-size: 2em;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 1%;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container {
    margin: 15px 0;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container {
    display: flex;
    margin: 15px 0;
    width: 100%;
    justify-content: flex-start;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container > .quantity {
    margin-right: 0px;
    min-width: 60px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container > .measurement-name {
    margin-right: 4px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container > .pantry-quantity {
    margin-right: 0px;
    min-width: 60px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container > .pantry-measurement-name {
    margin-right: 4px;
}

/* .recipe-page-container > .home-ingredients-container > .home-ingredient-container > .ingredient-name {} */

.recipe-page-container > .home-steps-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 50px;
}

/* .recipe-page-container > .home-steps-container > .home-ste p{} */

.recipe-page-container > .home-steps-container > .home-step > .steps-container {
    display: flex;
    max-width: 80%;
    margin-left: 25px;
}

.recipe-page-container > .home-steps-container > .home-step > .steps-container > .step-number {
    margin-right: 50px;
}

.recipe-page-container > .home-steps-container > .home-step > .steps-container > .step-content {
    margin: 0 0px 50px 0;
}

.new-ingredients-container {
    display: flex;
    justify-content: space-around;
}

.ingredients-headers {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 5px;
}

.recipe-pantry-ingredient-container > .pantry-ingredient-recipe-container {
    display: flex;
}

.do-not-have {
    background-color: #F39C9F;
    border-radius: 8px;
}

.will-run-out {
    background-color: #E6C73B;
    border-radius: 8px;
}
