.recipe-page-container {
    display: flex;
    flex-direction: column;
    margin: 3%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    box-shadow: none;
}

.recipe-page-container > .recipecard-main-containers {
    box-shadow: none;
}

.recipe-page-container > .recipecard-main-containers: hover {
    border: none;
}

.recipe-page-container > .recipecard-main-containers > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    /* pointer-events: none; */
    cursor: text;
    text-decoration: none;
    width: 100%;
    border: none;
    box-shadow: none;
}

.recipe-page-container > .recipecard-main-containers:hover {
    cursor: text;
    background-color: white;
    border: none;
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button button, .recipe-page-container > .recipecard-main-containers > a > .buttons-container > .made-button button {
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
    margin: 20px 20px;
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button button {
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#F39C9F;
    color: #F39C9F;
    font-size: 14px;
    margin: 20px 20px;
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .want-to-make-button,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.recipe-page-container > .recipecard-main-containers > a > .buttons-container button,
.recipe-page-container > .recipecard-main-containers > a > .hovering button {
    font-size: 14px;
}


.recipe-page-container > .recipecard-main-containers > a > .buttons-container, .recipe-page-container > .recipecard-main-containers > a > .buttons-container > .disabled, .recipe-page-container > .recipecard-main-containers > a > .hovering > .disabled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recipe-page-container > .recipecard-main-containers > a > .hovering, .recipe-page-container > .recipecard-main-containers > a > .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.recipe-page-container > .recipecard-main-containers > a > .hovering > .disabled > .cooked-button,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .disabled > .cooked-button,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button > .cooked-button,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button > .cooked-button{
    height: 40px;
    width: 125px;
   border-radius: 8px;
    background-color: white;
    transition: background-color 300ms ease-in-out,
                font-size 300ms ease,
                color 300ms ease-in-out,
                box-shadow 300ms ease;
    border: 1px solid#23bf93;
    color: #23bf93;
    font-size: 14px;
    opacity: 1;
}



.recipe-page-container > .recipecard-main-containers > a > .hovering > .disabled > .cooked-button:hover,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .disabled > .cooked-button:hover,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button > .cooked-button:hover
 {
    background-color:#23bf93;
    cursor: pointer;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(10, 139, 96, 0.16),
    0px 3px 3px 0px rgba(10, 139, 96, 0.16),
    0px 4px 4px 0px rgba(10, 139, 96, 0.16),
    0px 6px 6px 0px rgba(10, 139, 96, 0.16);
}

.recipe-page-container > .recipecard-main-containers > a > .hovering > .disabled > .cooked-button:active,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .disabled > .cooked-button:active {
    transform: translate(2px, 1px);
    border: 1px solid rgba(133, 132, 132, 0.404)
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button button:hover {
    background-color: #F39C9F;
    cursor: pointer;
    color: white;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(165, 72, 72, 0.16),
    0px 3px 3px 0px rgba(165, 72, 72, 0.16),
    0px 4px 4px 0px rgba(165, 72, 72, 0.16),
    0px 6px 6px 0px rgba(165, 72, 72, 0.16);
}
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button button:active {

}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button button:active {

}

.edit-recipe-button-container {
    align-self: flex-start;
}

.edit-recipe-button {
    width: 100px;
    height: 30px;
    /* align-self: flex-end; */
    font-size: 1em;
    background-color: white;
    border-radius: 50px;
    transition: background-color 150ms ease-in-out,
    color 150ms ease-in-out,
    transform 50ms ease-out;
    margin-top: 2%;
}

.edit-recipe-button:hover {
    background-color: #3E400F;
    color: white;
    cursor: pointer;
}

.edit-recipe-button:active {
    transform: translate(1px, 1px);
}

.recipe-page-container > .recipecard-main-containers > a span {
    /* width: 800px; */
}

.recipe-page-container > .recipecard-main-containers > a span > .home-recipe-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 15px;
    pointer-events: none;
    width: 800px;
}

.recipe-page-container > .recipecard-main-containers > a span > .home-recipe-title a:hover {
    cursor: text;
}

.recipe-page-container > .recipecard-main-containers > a > .home-recipe-content {
    /* margin-bottom: 30px; */
    text-align: center;
    max-width: 80%;
    margin-bottom: 2%;
    line-height: 32px;
    font-size: 18px;
}

.recipe-page-container > .home-ingredients-container {
    width: 80%;
    margin: 80px 0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 50px;
}

.recipe-page-container > .home-ingredients-container > .ingredients-headers > .recipe-ingredients-header {
    color: black;
    font-size: 2rem;
    /* margin-bottom: 25px; */
    /* margin-left: 45px; */
    /* margin-top: 20px; */
}

.pantry-ingredients-header {
    color: black;
}

.recipe-page-container > .home-steps-container > .recipe-steps-header {
    font-size: 2em;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 1%;
    color: black;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container {
    margin: 15px 0;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container {
    display: flex;
    margin: 15px 0;
    width: 100%;
    justify-content: flex-start;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container > .quantity {
    margin-right: 0px;
    min-width: 60px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .ingredients-for-recipe > .home-ingredient-container > .measurement-name {
    margin-right: 4px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container > .pantry-quantity {
    margin-right: 0px;
    min-width: 60px;
    margin-left: 15px;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container > .pantry-measurement-name {
    margin-right: 4px;
}

/* .recipe-page-container > .home-ingredients-container > .home-ingredient-container > .ingredient-name {} */

.recipe-page-container > .home-steps-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
    border-radius: 50px;
}

/* .recipe-page-container > .home-steps-container > .home-ste p{} */

.recipe-page-container > .home-steps-container > .home-step > .steps-container {
    display: flex;
    max-width: 80%;
    margin-left: 25px;
}

.recipe-page-container > .home-steps-container > .home-step > .steps-container > .step-number {
    margin-right: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.recipe-page-container > .home-steps-container > .home-step > .steps-container > .step-content {
    margin: 0 0px 50px 0;
}

.new-ingredients-container {
    display: flex;
    justify-content: space-around;
}

.ingredients-headers {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 5px;
    color: black;
}

.recipe-pantry-ingredient-container > .pantry-ingredient-recipe-container {
    display: flex;
}

.do-not-have {
    background-color: #F39C9F;
    border-radius: 8px;

}

.will-run-out {
    background-color: #E6C73B;
    border-radius: 8px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.recipe-page-container > .home-ingredients-container > .new-ingredients-container > .pantry-ingredients-for-recipe > .recipe-pantry-ingredient-container > .pantry-ingredients-container {
    width: calc(100% + 25px);
}

/* .disabled {
    opacity: 0.3
} */

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button > .disabled,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .want-to-make-button > .disabled,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button > .disabled,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button > .disabled
{
    opacity: 0.3;
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button > .disabled:hover,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .want-to-make-button > .disabled:hover,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button > .disabled:hover,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button > .disabled:hover {
    background-color: white;
    box-shadow: none;
    color: #23bf93;
    cursor: default;
}

.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .want-to-make-button > .disabled:active,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .want-to-make-button > .disabled:active,
.recipe-page-container > .recipecard-main-containers > a > .hovering > .remove-from-shop-button > .disabled:active,
.recipe-page-container > .recipecard-main-containers > a > .buttons-container > .remove-from-shop-button > .disabled:active {
    transform: none;
    border: 1px solid #23bf93;
}
